# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: ./buildconf && ./configure
  displayName: 'Run configure'

- script: make
  displayName: 'make'

- script: make check
  displayName: 'test'
