# Copyright (C) Daniel Stenberg, <daniel@haxx.se>, et al.
#
# SPDX-License-Identifier: curl

*.asc
*.dll
*.exe
*.exp
*.la
*.lib
*.a
*.res
*.lo
*.o
*.obj
*.pdb
*.pyc
*.orig
*.rej
*~
.*.sw?
.cproject
.deps
.dirstamp
.libs
.project
.settings
/.vs
/bld/
/build/
/builds/
/stats/
__pycache__
Debug
INSTALL
Makefile
Makefile.in
Release
TAGS
aclocal.m4
aclocal.m4.bak
autom4te.cache
buildinfo.txt
ca-bundle.crt
certdata.txt
compile
config.cache
config.guess
config.log
config.status
config.sub
configure
curl-*.tar.bz2
curl-*.tar.gz
curl-*.tar.xz
curl-*.zip
curl-config
depcomp
install-sh
libcurl.pc
libtool
ltmain.sh
missing
mkinstalldirs
tags
test-driver
stamp-h*
scripts/_curl
scripts/curl.fish
curl_fuzzer
curl_fuzzer_seed_corpus.zip
libstandaloneengine.a
tests/string
tests/config
tests/ech-log/
