Guenter Knauf <lists@gknw.net> <gk@gknw.de>
Gisle Vanem <gisle.vanem@gmail.com> <gvanem@yahoo.no>
Gisle Vanem <gisle.vanem@gmail.com> <gvanem@broadpark.no>
Alessandro Ghedini <alessandro@ghedini.me> <alessandro@cloudflare.com>
Alessandro Ghedini <alessandro@ghedini.me> <al3xbio@gmail.com>
Björn Stenberg <bjorn@haxx.se>
Björn Stenberg <bjorn@haxx.se> <bjst@bjorn>
Viktor Szakats <commit@vszakats.net>
Viktor Szakats <commit@vszakats.net> <vszakats@users.noreply.github.com>
Daniel Gustafsson <daniel@yesql.se> <dgustafsson@pivotal.io>
Daniel Gustafsson <daniel@yesql.se> <daniel@hobbit.se>
Linus Nielsen <linus@haxx.se>
Yamada Yasuharu <yasuharu.yamada@access-company.com>
Ulion <ulion2002@gmail.com>
Tim Rühsen <tim.ruehsen@gmx.de>
Steve Holme <steve_holme@hotmail.com> <steven.holme@cubic.com>
Claes Jakobsson <claes@surfar.nu> <claes@versed.se>
Sergei Nikulov <sergey.nikulov@gmail.com> <snikulov@users.noreply.github.com>
Patrick Monnerat <patrick@monnerat.net> <Patrick.Monnerat@datasphere.ch>
Patrick Monnerat <patrick@monnerat.net> <patrick.monnerat@dh.com>
Patrick Monnerat <patrick@monnerat.net> <pm@datasphere.ch>
Patrick Monnerat <patrick@monnerat.net> <monnerat@users.noreply.github.com>
Nick Zitzmann <nickzman@gmail.com> <nick@chronosnet.com>
Peter Wu <peter@lekensteyn.nl> <peter_at_lekensteyn.nl>
David Woodhouse <David.Woodhouse@intel.com> <dwmw2@infradead.org>
Marcel Raad <Marcel.Raad@teamviewer.com> <raad@teamviewer.com>
Marcel Raad <Marcel.Raad@teamviewer.com> <MarcelRaad@users.noreply.github.com>
Marcel Raad <Marcel.Raad@teamviewer.com> <marcelraad@users.sf.net>
Anthony Bryan <anthonybryan@gmail.com> <ant@localhost.localdomain>
Travis Burtrum <admin@moparisthebest.com>
Dmitry Kostjuchenko <dmitrykos@neutroncode.com>
Richard Alcock <richard.alcock@gmail.com>
Richard Alcock <richard.alcock@gmail.com> <richard.alcock@mathworks.co.uk>
Jan Ehrhardt <github@ehrhardt.nl>
Florin Petriuc <petriuc.florin@gmail.com> <pfl@northq.com>
Pavel Pavlov <pavlov.pavel@gmail.com>
Jason Juang <jasjuang@gmail.com>
Carlo Teubner <carlo.teubner@gmail.com>
Joel Depooter <joel.depooter@safe.com>
Sebastian Mundry <mundry@outlook.com>
Rainer Canavan <rainer.canavan@sevenval.com> <canavan@users.noreply.github.com>
Dan Fandrich <dan@coneharvesters.com>
Henrik S. Gaßmann <henrik@gassmann.onl>
Jiří Malák <malak.jiri@gmail.com>
Nick Zitzmann <nickzman@gmail.com>
Kees Dekker <kees.dekker@infor.com>
Max Savenkov <max.savenkov@gmail.com>
Daniel Jelinski <daniel.jelinski@thomsonreuters.com> <30433125+djelinski@users.noreply.github.com>
Amit Katyal <amkatyal@cisco.com>
Giorgos Oikonomou <giorgos.n.oikonomou@gmail.com>
Evgeny Grin <k2k@narod.ru>
Peter Pih <railsnewbie257@gmail.com>
Anton Malov <malov.anton@gmail.com>
Marquis de Muesli <marquis.de.muesli@gmail.com>
Kyohei Kadota <lufia@lufia.org>
Lucas Pardue <lucaspardue.24.7@gmail.com> <lucas@cloudflare.com>
Massimiliano Fantuzzi <superfantuz@gmail.com>
Niall O'Reilly <Niall.oReilly@ucd.ie>
Mohammad Hasbini <mohammad.hasbini@gmail.com>
Andrew Ishchuk <andrew_ishchuk@office.targem.ru>
Nicolas Guillier <59726521+nicoguillier@users.noreply.github.com>
Julian Z <julianz@example.com> <jzinn@users.noreply.github.com>
Jessa Chandler <jessachandler@gmail.com>
Gökhan Şengün <gsengun@linux-5d7d.site> <gokhansengun@gmai.com>
Svyatoslav Mishyn <juef@openmailbox.org>
Douglas Steinwand <dzs-curl@dzs.fx.org>
James Fuller <jim@webcomposite.com>
Don J Olmstead <don.j.olmstead@gmail.com>
Nicolas Sterchele <sterchelen@gmail.com>
