# Copyright (C) Daniel Stenberg, <daniel@haxx.se>, et al.
#
# SPDX-License-Identifier: curl

10-at-a-time
address-scope
altsvc
anyauthput
block_ip
cacertinmem
certinfo
chkspeed
connect-to
cookie_interface
crawler
debug
default-scheme
ephiperfifo
evhiperfifo
externalsocket
fileupload
ftp-delete
ftp-wildcard
ftpget
ftpgetinfo
ftpgetresp
ftpsget
ftpupload
ftpuploadfrommem
ftpuploadresume
getinfo
getinmemory
getredirect
getreferrer
ghiper
headerapi
hiperfifo
href_extractor
hsts-preload
htmltidy
http-options
http-post
http2-download
http2-pushinmemory
http2-serverpush
http2-upload
http3
http3-present
httpcustomheader
httpput
httpput-postfields
https
imap-append
imap-authzid
imap-copy
imap-create
imap-delete
imap-examine
imap-fetch
imap-list
imap-lsub
imap-multi
imap-noop
imap-search
imap-ssl
imap-store
imap-tls
interface
ipv6
keepalive
localport
maxconnects
multi-app
multi-debugcallback
multi-double
multi-event
multi-formadd
multi-legacy
multi-post
multi-single
multi-uv
multithread
netrc
parseurl
persistent
pop3-authzid
pop3-dele
pop3-list
pop3-multi
pop3-noop
pop3-retr
pop3-ssl
pop3-stat
pop3-tls
pop3-top
pop3-uidl
post-callback
postinmemory
postit2
postit2-formadd
progressfunc
protofeats
range
resolve
rtsp-options
sendrecv
sepheaders
sessioninfo
sftpget
sftpuploadresume
shared-connection-cache
simple
simplepost
simplessl
smooth-gtk-thread
smtp-authzid
smtp-expn
smtp-mail
smtp-mime
smtp-multi
smtp-ssl
smtp-tls
smtp-vrfy
sslbackend
synctime
threaded-ssl
unixsocket
url2file
urlapi
usercertinmem
websocket
websocket-cb
websocket-updown
xmlstream
