<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <ItemGroup>
    <Filter Include="Source Files">
      <UniqueIdentifier>{4FC737F1-C7A5-4376-A066-2A32D752A2FF}</UniqueIdentifier>
      <Extensions>cpp;c;cc;cxx;def;odl;idl;hpj;bat;asm;asmx</Extensions>
    </Filter>
    <Filter Include="Header Files">
      <UniqueIdentifier>{93995380-89BD-4b04-88EB-625FBE52EBFB}</UniqueIdentifier>
      <Extensions>h;hh;hpp;hxx;hm;inl;inc;xsd</Extensions>
    </Filter>
    <Filter Include="Resource Files">
      <UniqueIdentifier>{67DA6AB6-F800-4c08-8B7A-83BB121AAD01}</UniqueIdentifier>
      <Extensions>rc;ico;cur;bmp;dlg;rc2;rct;bin;rgs;gif;jpg;jpeg;jpe;resx;tiff;tif;png;wav;mfcribbon-ms</Extensions>
    </Filter>
    <Filter Include="Source Files\vtls">
      <UniqueIdentifier>{669a776f-5fa7-44b3-812f-c23ceb85017c}</UniqueIdentifier>
    </Filter>
    <Filter Include="Source Files\vauth">
      <UniqueIdentifier>{3fa2e839-bcbf-4d44-bd68-4c7eb19f51f9}</UniqueIdentifier>
    </Filter>
    <Filter Include="Source Files\vquic">
      <UniqueIdentifier>{6cbcf844-6796-45a4-ad2c-ae541730ab4e}</UniqueIdentifier>
    </Filter>
    <Filter Include="Source Files\vssh">
      <UniqueIdentifier>{130a3a0a-d299-4ef2-a478-f9b5390aae4d}</UniqueIdentifier>
    </Filter>
    <Filter Include="Header Files\vauth">
      <UniqueIdentifier>{6d728764-a9ff-47e6-8d98-27d9be51e292}</UniqueIdentifier>
    </Filter>
    <Filter Include="Header Files\vtls">
      <UniqueIdentifier>{ae02287e-7de5-486f-ad59-0235a86c40e0}</UniqueIdentifier>
    </Filter>
    <Filter Include="Header Files\vquic">
      <UniqueIdentifier>{d27e5448-8d02-4def-80ed-12ada211cd4f}</UniqueIdentifier>
    </Filter>
    <Filter Include="Header Files\vssh">
      <UniqueIdentifier>{743a2ac1-4a8c-4c9b-a234-c9c8248413be}</UniqueIdentifier>
    </Filter>
  </ItemGroup>
  <ItemGroup>
CURL_LIB_C_FILES
  </ItemGroup>
  <ItemGroup>
CURL_LIB_VAUTH_C_FILES
  </ItemGroup>
  <ItemGroup>
CURL_LIB_VQUIC_C_FILES
  </ItemGroup>
  <ItemGroup>
CURL_LIB_VSSH_C_FILES
  </ItemGroup>
  <ItemGroup>
CURL_LIB_VTLS_C_FILES
  </ItemGroup>
  <ItemGroup>
CURL_LIB_H_FILES
  </ItemGroup>
  <ItemGroup>
CURL_LIB_VAUTH_H_FILES
  </ItemGroup>
  <ItemGroup>
CURL_LIB_VQUIC_H_FILES
  </ItemGroup>
  <ItemGroup>
CURL_LIB_VSSH_H_FILES
  </ItemGroup>
  <ItemGroup>
CURL_LIB_VTLS_H_FILES
  </ItemGroup>
  <ItemGroup>
CURL_LIB_RC_FILES
  </ItemGroup>
</Project>
