# Copyright (C) Daniel Stenberg, <daniel@haxx.se>, et al.
#
# SPDX-License-Identifier: fetch

*pid
configurehelp.pm
fetch_client_key
fetch_client_key.pub
fetch_client_knownhosts
fetch_host_rsa_key
fetch_host_rsa_key.pub
fetch_host_rsa_key.pub_md5
fetch_host_rsa_key.pub_sha256
fetch_sftp_cmds
fetch_sftp_config
fetch_ssh_config
fetch_sshd_config
ftps_stunnel.conf
https_stunnel.conf
log*
*.port
config
second-hsts.txt
runtests.1
testfetch.1
