# Copyright (C) 2010 - 2022, Daniel Stenberg, <daniel@haxx.se>, et al.
#
# SPDX-License-Identifier: curl

chkdecimalpoint
chkhostname
lib[1234][0-9][0-9][0-9]
lib[56][0-9][0-9]
lib1521.c
libauthretry
libntlmconnect
libprereq
