# Copyright (C) 2000 - 2022 Daniel Stenberg, <daniel@haxx.se>, et al.
#
# SPDX-License-Identifier: curl

*.a
*.imp
*.nlm
*.orig
*.rej
*.res
TAGS
curl_config.h
curl_config.h.in
libcurl.plist.dist
libcurl.plist
libcurl.vers
stamp-h1
