/***************************************************************************
 *                                  _   _ ____  _
 *  Project                     ___| | | |  _ \| |
 *                             / __| | | | |_) | |
 *                            | (__| |_| |  _ <| |___
 *                             \___|\___/|_| \_\_____|
 *
 * Copyright (C) Daniel Stenberg, <daniel@haxx.se>, et al.
 *
 * This software is licensed as described in the file COPYING, which
 * you should have received as part of this distribution. The terms
 * are also available at https://curl.se/docs/copyright.html.
 *
 * You may opt to use, copy, modify, merge, publish, distribute and/or sell
 * copies of the Software, and permit persons to whom the Software is
 * furnished to do so, under the terms of the COPYING file.
 *
 * This software is distributed on an "AS IS" basis, WITHOUT WARRANTY OF ANY
 * KIND, either express or implied.
 *
 * SPDX-License-Identifier: curl
 *
 ***************************************************************************/
#include <winver.h>
#include "../include/curl/curlver.h"

LANGUAGE  0, 0

#define RC_VERSION  LIBCURL_VERSION_MAJOR, LIBCURL_VERSION_MINOR, LIBCURL_VERSION_PATCH, LIBCURL_VERSION_SUB_PATCH

VS_VERSION_INFO VERSIONINFO
  FILEVERSION     RC_VERSION
  PRODUCTVERSION  RC_VERSION
  FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
#if defined(DEBUGBUILD) || defined(UNITTESTS) || defined(CURLDEBUG) || defined(_DEBUG)
  FILEFLAGS VS_FF_DEBUG
#else
  FILEFLAGS 0L
#endif
  FILEOS      VOS__WINDOWS32
  FILETYPE    VFT_DLL
  FILESUBTYPE 0L

BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"
    BEGIN
      VALUE "CompanyName",      "The curl library, https://curl.se/\0"
      VALUE "FileDescription",  "libcurl Shared Library\0"
      VALUE "FileVersion",      LIBCURL_VERSION "\0"
      VALUE "InternalName",     "libcurl\0"
      VALUE "OriginalFilename", "libcurl.dll\0"
      VALUE "ProductName",      "The curl library\0"
      VALUE "ProductVersion",   LIBCURL_VERSION "\0"
      VALUE "LegalCopyright",   "Copyright (C) " LIBCURL_COPYRIGHT "\0"
      VALUE "License",          "https://curl.se/docs/copyright.html\0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END





/*
  Copyied from curl.rc.
  It's not something nice that, when we write the version in the manifest, we hardcode the forth number, but it's the only choice:
  - cUrl has only 3 version numbers (major, minor, patch)
  - for the forth number there is no macro used and we won't modify the build system only for that

  Use manifest id 2 as said in https://docs.microsoft.com/en-us/cpp/build/reference/manifest-create-side-by-side-assembly-manifest?view=vs-2019
  */
#if 1

/* String escaping rules:
     https://msdn.microsoft.com/library/aa381050
   Application Manifest doc, including the list of 'supportedOS Id's:
     https://msdn.microsoft.com/library/aa374191 */

#ifndef CREATEPROCESS_MANIFEST_RESOURCE_ID
#define CREATEPROCESS_MANIFEST_RESOURCE_ID  2
#endif
#ifndef RT_MANIFEST
#define RT_MANIFEST  24
#endif

#define _STR(macro)   _STR_(macro)
#define _STR_(macro)  #macro

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST
BEGIN
  "<?xml version=""1.0"" encoding=""UTF-8"" standalone=""yes""?>"
  "<assembly xmlns=""urn:schemas-microsoft-com:asm.v1"" manifestVersion=""1.0"">"
    "<assemblyIdentity name=""libcurl_" _STR(LIBCURL_NAME_SUFFIX) """ version="""
      _STR(LIBCURL_VERSION_MAJOR) "."
      _STR(LIBCURL_VERSION_MINOR) "."
      _STR(LIBCURL_VERSION_PATCH) "."
      _STR(LIBCURL_VERSION_SUB_PATCH) """ type=""win32"" processorArchitecture=""" _STR(LIBCURL_P_ARCH)  """/>"
    "<file name=""libcurl_" _STR(LIBCURL_NAME_SUFFIX) ".dll""/>"
  "</assembly>"
END

#endif