<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>	
	
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	
	<key>CFBundleExecutable</key>
	<string>curl</string>
	
	<key>CFBundleIdentifier</key>
	<string>com.libcurl.libcurl</string>
	
	<key>CFBundleVersion</key>
	<string>7.11.0</string>

	<key>CFBundleName</key>
	<string>libcurl</string>

	<key>CFBundlePackageType</key>
	<string>FMWK</string>	
	 
	<key>CFBundleSignature</key>
	<string>????</string>	
	
	<key>CFBundleShortVersionString</key>
	<string>libcurl 7.11.0</string>
	
	<key>CFBundleGetInfoString</key>
	<string>libcurl.plist 7.11.0</string>
</dict>
</plist>