# Copyright (C) Daniel Stenberg, <daniel@haxx.se>, et al.
#
# SPDX-License-Identifier: curl

h2-pausing
h2-serverpush
h2-upgrade-extreme
hx-download
hx-upload
tls-session-reuse
upload-pausing
ws-data
ws-pingpong
