# Copyright (C) Daniel Stenberg, <daniel@haxx.se>, et al.
#
# SPDX-License-Identifier: curl

h2-serverpush
hx-download
hx-upload
ws-data
ws-pingpong
h2-upgrade-extreme
tls-session-reuse
h2-pausing
upload-pausing
