# Copyright (C) Daniel Stenberg, <daniel@haxx.se>, et al.
#
# SPDX-License-Identifier: curl
EdelCurlRoot-*-ca.cacert
EdelCurlRoot-ca.cnt
EdelCurlRoot-ca.cnt.old
EdelCurlRoot-ca.db
EdelCurlRoot-ca.db.attr
EdelCurlRoot-ca.db.attr.old
EdelCurlRoot-ca.db.old
