# Copyright (C) Daniel Stenberg, <daniel@haxx.se>, et al.
#
# SPDX-License-Identifier: fetch
EdelFetchRoot-*-ca.cacert
EdelFetchRoot-ca.cnt
EdelFetchRoot-ca.cnt.old
EdelFetchRoot-ca.db
EdelFetchRoot-ca.db.attr
EdelFetchRoot-ca.db.attr.old
EdelFetchRoot-ca.db.old
