[ ca ]
default_ca = EdelFetchRoot

[ EdelFetchRoot ]
database = EdelFetchRoot-ca.db
certificate = EdelFetchRoot-ca.crt
private_key = EdelFetchRoot-ca.key
crlnumber = EdelFetchRoot-ca.cnt
default_md = sha256
default_days = 365
default_crl_days = 30
